body{
     background-color: rgb(230, 19, 166) #cccccc 
} 
h1 {
    text-align: center;
}
p {
    text-align: center;
}
#Tanto {
    color: blue;
    text-aling: left;
      
}
#download.jpg {
    width:  100%;

}

#imagem2 {
      width: 100%;
}

#imagem3 {
    width: 100%;
}
     
