body{
     background-color: yellou;
} 
h1 {
    text-align: center;
}
p
{
    text-align: center;
}
#Tanto 
{
    color: blue;
    text-align: left;
      
}
#download.jpg
{
    width:  100%;

}

#imagem2 
{
      width: 100%;
}

#imagem3 
{
    width: 100%;
}
     
